h3{
	font-weight: lighter;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (min-width: 1583px){
	.col-md-offset-3{
		margin-left: 25%;
	}
}

@media (min-width: 1583px){
	.col-md-6{
		width: 50%;
	}
}

@media (min-width: 716px){
	.col-md-10{
		width: 60%;
	}
}

@media (min-width: 716px){
	.col-md-offset-1{
		margin-left: 8%;
	}
}

label{
    padding: 10px 5px 10px 5px;
    display: inline-block;
	width: 35%;
	background-color: #F7F7F7;
	margin-left: 15px;
}

a{
	text-decoration: none;
	margin-top: 20px;
}

span{
    padding: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    background: #F7F7F7;
    border-radius: 6px;
	text-align: left;
}

.btn{
	margin: 10px 10px 2px 20px;
	padding: 10px 5px 10px 5px;
	width: 170px;
	background-color: #696969;
	color: #FFFFFF;
	border: 5px solid #696969;
	border-color: #696969;
}

.btn:hover{
	border-color: #555;
	cursor: pointer;
}

.premierElement{
	margin-top: 10px;
}
	
.divPrincipale{
	border: 1px solid rgba(0,0,0,0.3);
	background-color: #F7F7F7;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
	box-sizing: border-box;
}

.divSecondaire{
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
}

.container{
	width: 45%;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: #F8F8FF;
	padding: 5px 50px 5px 5px;
	margin-left: 20px;
}

.container:focus{
	border-color: #A9A9A9;
	outline: 0;
}

.container:hover{
	border-color: #808080;
}

.container:invalid + .container:focus{
	border-color: #d00;
	box-shadow: 0 0 0 3px rgba(221,0,0,.1) inset;
}

.align-right{
	text-align: right;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.titre{
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}

.logo{
	width: 30%;
	margin-left: 35%;
}

.imageMail{
	background-image: url('mail.png');
	background-repeat: no-repeat;
	background-position: right;
}

.imageMdp{
	background-image: url("motDePasse.png");
	background-repeat: no-repeat;
	background-position: right;
}

.retour{
	display: inline-block;
	float: left;
}

#erreur1{
	color: red;
	margin-left: 15px;
}

#erreur2{
	color: red;
	margin-left: 15px;
}

#erreur3{
	color: red;
	margin-left: 15px;
}